<%- layout("/layouts/boilerplate.ejs") %>

<div class="row">
  <div class="col-8 offset-2">
    <br />
    <h3 class="mb-3">Edit a your Listing</h3>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="text" class="form-label" >Title</label>
        <input
      type="text"
      name="listings[title]"
      id="text"
      class="form-control"
      value="<%= listing.title %>"
      required
    />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listings[description]"
          class="form-control"
          id="description"
          required
        ><%= listing.description %></textarea>
      </div>
      <div class="mb-3">
        Original Listing Image <br>
        <img src="<%= originalImageUrl %>" alt="listing Image">
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input
          type="file"
          id="image"
          class="form-control"
          name="listings[image]"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            class="form-control"
            name="listings[price]"
            min="1"
            id="price"
            required
            value="<%= listing.price %>"
          />
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">country</label>
          <input
            type="text"
            class="form-control"
            name="listings[country]"
            required
            id="country"
            value="<%= listing.country %>"
          />
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          name="listings[location]"
          required
          value="<%= listing.location %>"
          id="location"
        />
      </div>
      <button class="add-btn btn btn-dark" type="submit">Update</button>
      <br /><br />
    </form>
  </div>
</div>
